<html>
  <body>
    <p>
      Please sign up, student...
    </p>

    <form action="/" method="get">
      <input name="student" />
      <input type="submit" />
    </form>

    <% if @studentlist.any? %>
      <ul>
        <% @studentlist.each do |student| %>
          <li><%= student[0].to_s + ' ' + student[1].to_s %></li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
